[Unit]
Description=KLS API
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/kls-api
ExecStart=/root/apps/kls-api/kls-api
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/kls-api/config.env

[Install]
WantedBy=multi-user.target
